@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --yellow-1: rgb(254,254,34);
    --yellow-2: rgb(254,254,51);
    --yellow-3: rgb(255,244,79);
    --black-1: rgb(0,0,0);
    --black-2: rgb(8,8,8);
    --black-3: rgb(16,12,8);
}
*,*::after,*::before{
    padding: 0;
    margin: 0;
}
body{
    color: var(--black-1);
    background-color: var(--yellow-1);
}