@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
$yellow-1: rgb(254, 254, 34);
$yellow-2: rgb(254, 254, 51);
$yellow-3: rgb(255, 244, 79);
$black-1: rgb(0, 0, 0);
$black-2: rgb(8, 8, 8);
$black-3: rgb(16, 12, 8);
$white: rgb(255, 255, 255);
$light-blue: rgb(232, 244, 248);
$grey: rgb(248, 248, 248);
$light-red: #ff8080;
$light-green:#80ff80;
$light-blue: #A2BAF5;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}
input[type="file"]{
    display: none;
}
body {
    color: var($black-1);
    min-height: 100vh;
    background-color: $light-blue;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    padding: 0 0.1rem;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 0.5rem;
}

.LogIn__section {
    width: 100%;
    height: 100vh;
    background-color: $yellow-1;
    display: flex;
    justify-content: center;
    align-items: center;

    .LogIn__container {
        padding: 2rem;
        width: 31.25rem;
        height: 31.25rem;
        background-color: $white;
        border-radius: 1.25rem;
        box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            width: 100%;
            text-align: center;
            margin-bottom: 3rem;
        }
    }
}

.form {
    width: 100%;
}

.form p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 3rem;
    font-size: 1rem;
    line-height: 2.5rem;
    /* background-color: $light-blue; */
}

.submit__btn {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 2.5rem;
    background-color: $yellow-1;
    color: black;
    border: none;
    /* border: 2px solid $black-1; */
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.notLogIn {
    font-size: 0.8rem;
}

.SignUp__section {
    width: 100%;
    height: 100vh;
    background-color: $yellow-1;
    display: flex;
    justify-content: center;
    align-items: center;

    .SignUp__container {
        padding: 2rem;
        width: 31.25rem;
        height: 42rem;
        background-color: $white;
        border-radius: 1.25rem;
        box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        .submit__btn {
            margin-top: 2.5rem;
        }
        .form input{
            margin-bottom: 2rem;
        }
        .select__pic{
            padding: 0.5rem 1rem;
            background-color: lightskyblue;
            color: $white;
            margin-bottom: 2rem;
            border-radius: 0.5rem;
        }
    }

    h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
}
.user__menu{
    position: absolute;
    background-color: $white;
    top: 6rem;
    padding: 0;
    right: 0;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    
    p, form{
        cursor: pointer;
        padding: 0.5rem 1rem;
        &:hover{
            background-color: $yellow-1;
        }
    }
    // .pic__change{
    //     position: absolute;
    //     top: 0;
    //     right: -7rem;
    //     text-align: center;
    //     background-color: $white;
    //     width: 7rem;
    //     padding: 0.5rem 0;
    //     &:hover{
    //         background-color: $yellow-1;
    //     }
    // }   

    button{
        background-color: transparent;
        border: none;
        
    }
}
.home__section {
    display: flex;
    height: 100vh;
    padding: 2rem 4rem;

    .accounts__area {
        box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.3);
        position: relative;
        height: 100%;
        width: 25%;
        background-color: $grey;

        // border-right: 1px solid $grey;
        // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
        .accounts__nav {
            position: sticky;
            top: 0;
            width: 100%;
            height: 12vh;
            background-color: $yellow-1;
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user__profile {
                color: $black-1;
                display: flex;
                gap: 1rem;
                align-items: center;
                img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                }
            }
            
            .rotate{
                transform: rotate(90deg);
            }
        }

        .accounts__container {
            height: calc(100% - 12vh - 5rem);
            display: flex;
            flex-direction: column;
            overflow-y: scroll;

            .account {
                padding: 1rem;
                display: flex;
                gap: 2rem;
                border-bottom: 1px solid $black-3;
                align-items: center;
                margin-left: 0.5rem;
                
                cursor: default;
                .accounts__profile {
                    img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                    }
                    
                }
            }
        }

        .search__container {
            height: 5rem;
            display: flex;
            align-items: center;
            background-color: $yellow-1;
            width: 100%;
            z-index: 20;
            display: grid;
            place-items: center;
            position: relative;

            input {
                border-radius: 1rem;
                width: 80%;
                height: 2.5rem;
                border: none;
                padding: 0 1rem;
                box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
            }
            .search__result{
                position: absolute;
                top:0rem;
                left: 0;
                width: 100%;
                transform: translateY(-100%);
                display: flex;
                gap: 2rem;
                align-items: center;
                background-color: $yellow-1;
                padding: 1rem;
                &:hover{
                    background-color: $yellow-3;
                }
                .search__avatar img{
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                }
            }
        }
    }

    .chat__area {
        box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.3);
        width: 75%;
        height: 100%;


        .navbar {
            height: 12vh;
            background-color: $yellow-2;
            box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0rem 1rem;

            .account__profile {
                display: flex;
                gap: 1rem;
                align-items: center;
                img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                }
            }
        }

        .chat__section {
            width: 100%;
            height: calc(100% - 12vh - 5rem);
            overflow-y: scroll;
            background-image: url(./../public/assets/background-2.jpg);
            background-position: center;
            scroll-behavior: smooth;

            .chat__container {
                width: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 1rem;

                .message {
                    display: flex;
                    gap: 1rem;

                    .message__account {
                        img {
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                        }
                    }
                    .chat__box{
                        display: flex;
                        flex-direction:column;
                        align-items: center;
                        gap: 1rem;
                    }
                    .chat {
                        max-width: 20rem;
                        height: fit-content;
                        background-color: $yellow-1;
                        padding: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        display: block;
                        line-height: 1.5rem;

                        img {
                            width: 10rem;
                        }
                    }

                    .chat__image {
                        background: none;
                        padding: 0;
                    }
                }

                .user {
                    align-self: flex-end;
                    flex-direction: row-reverse;

                    
                }
            }
            .hidden{
                width: 0;
                height: 0;
            }

        }

        .message__area {

            width: 100%;
            background-color: $yellow-1;
            height: 5rem;
            display: grid;
            place-items: center;

            .message__form {
                width: 80%;
                border-radius: 1rem;
                box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
                overflow: hidden;
                display: flex;
                align-items: center;
                background-color: $white;
                input {
                    width: 90%;
                    height: 2.5rem;
                    padding: 0 1rem;
                    border: none;
                    
                }
                .message__icons{
                    display: flex;
                    gap: 1rem;
                    button{
                        background-color: transparent;
                        border: none;
                    }
                }
            }
        }
    }

}
.icons {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}
.last__message{
    font-size: 0.7rem;
}
.loading__section{
    width: 100%;
    height: 100vh;
    background-color: $yellow-1;
    display: grid;
    place-items: center;
    .icons{
        font-size: 6rem;
        animation: logo 1s linear 0s 1 forward;
    }
}
.error__msg{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0rem;
    width: 100%;
    text-align: center;
    color: $white;
}

.danger{
    background-color: $light-red;
}
.success{
    background-color: $light-green;
}
@keyframes logo{
    0%{
        opacity: 0;
        transform: translateY(-3rem);
    }
    90%{
        opacity: 1;
        transform: translateY(0);
    }
    95%{
        opacity: 1;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}